<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <filter>
        <whitelist>
            <directory>./module/Demo/src</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="Demo">
            <directory>./module/Demo/test</directory>
        </testsuite>
    </testsuites>
</phpunit>
